{% extends "base.html" %}
{% load static %}

	{% block title %} صفحه مورد نظر یافت نشد {% endblock %}

{% block content %}

	<div class="container mx-auto px-4 py-6">
		<div class="flex items-center justify-center bg-base-100 mt-10">
		  <div class="text-center">
		    <!-- آیکن -->
		    <div class="text-6xl text-error mb-4 animate-bounce" style="text-align:center;">
		      🚫
		    </div>

		    <!-- متن اصلی -->
		    <h1 class="text-3xl font-bold mb-2 animate-pulse">محتوای مورد نظر یافت نشد</h1>
		    <p class="text-gray-500 mb-6">صفحه‌ای که دنبالش هستید وجود ندارد یا حذف شده است.</p>

		    <!-- دکمه برگشت -->
		    <a href="/" class="btn btn-outline btn-error w-full">بازگشت به صفحه اصلی</a>
		  </div>
		</div>
	</div>


{% endblock %}